<footer class="py-4 bg-dark-opacity">
    <div class="container d-flex flex-column flex-md-row align-items-center align-items-md-start justify-content-between py-4 my-0 my-md-2 gap-4">
        <section class="company-info d-flex flex-column justify-content-between">
            <div>
                <figure class="mb-0">
                    <img src="./assets/images/logos/footer-logo.svg" alt="Mega Digital Studio logo" class="mb-4 d-flex justify-content-center m-auto m-md-0 mb-md-4" style="max-width: 214px;">
                </figure>
                <p class="small/ mb-0 fw-light text-gray-custom text-center text-md-start">
                    Legal information, organization details or other data necessary for display here
                </p>
            </div>
            <p class="small/ mb-0 fw-light text-gray-custom text-center text-md-start">
                © 2025 Mega Digital Studio <br>All rights reserved
            </p>
        </section>

        <nav class="footer-nav">
            <ul class="list-unstyled d-flex flex-column gap-12">
                <li><a href="#" class="fw-light small/ text-decoration-none text-dark-custom">Home</a></li>
                <li><a href="#" class="fw-light small/ text-decoration-none text-dark-custom">Portfolio</a></li>
                <li><a href="#" class="fw-light small/ text-decoration-none text-dark-custom">About us</a></li>
                <li><a href="#" class="fw-light small/ text-decoration-none text-dark-custom">News</a></li>
                <li><a href="#" class="fw-light small/ text-decoration-none text-dark-custom">Price</a></li>
                <li><a href="#" class="fw-light small/ text-decoration-none text-dark-custom">Feedback</a></li>
                <li><a href="#" class="fw-light small/ text-decoration-none text-dark-custom">Career</a></li>
                <li><a href="#" class="fw-light small/ text-decoration-none text-dark-custom">FAQ</a></li>
                <li><a href="#" class="fw-light small/ text-decoration-none text-dark-custom">Contacts</a></li>
            </ul>
        </nav>

        <section class="footer-services">
            <ul class="list-unstyled d-flex flex-column gap-12">
                <li><a href=""  class="fw-light small/ text-decoration-none text-dark-custom">Web Development</a></li>
                <li><a href=""  class="fw-light small/ text-decoration-none text-dark-custom">Mobile App Development</a></li>
                <li><a href=""  class="fw-light small/ text-decoration-none text-dark-custom">Software Development</a></li>
                <li><a href=""  class="fw-light small/ text-decoration-none text-dark-custom">UI/UX Design</a></li>
                <li><a href=""  class="fw-light small/ text-decoration-none text-dark-custom">Graphic Design</a></li>
                <li><a href=""  class="fw-light small/ text-decoration-none text-dark-custom">SEO</a></li>
                <li><a href=""  class="fw-light small/ text-decoration-none text-dark-custom">SMM</a></li>
                <li><a href=""  class="fw-light small/ text-decoration-none text-dark-custom">Targeted Ads</a></li>
                <li><a href=""  class="fw-light small/ text-decoration-none text-dark-custom">Data Extraction & Integration</a></li>
            </ul>
        </section>

        <address class="footer-contact d-flex flex-column align-items-center align-items-md-start">
            <div class="d-flex align-items-center mb-2 justify-content-center">
                <img src="./assets/images/svg/icon_call-blue.svg" alt="Phone icon" class="me-2">
                <span class="fw-bold fs-6">+00 (123) 456-78-90</span>
            </div>
            <p class="fw-semibold text-blue-custom">megadigitalstudio@domain.com</p>
            <p class="fw-light small/ text-decoration-none text-dark-custom">Address: 012345 City, State Street title 12/3</p>
            <a href="#" class="d-flex justify-content-end"><img src="./assets/images/svg/fb-icon.svg" alt="Facebook icon"></a>
        </address>

    </div>
</footer>