<section class="bg-common pt-4 pt-md-0 position-relative overflow-hidden">
    <div class="d-flex flex-column flex-md-row container justify-content-between align-items-center pt-3 position-relative" style="z-index: 2;">
        <div style="max-width: 812px; width: 100%;">
            <h2 class="title text-light text-center text-md-start">
                Leave a request for <br> a consultation on services
            </h2>
            <p class="description text-white-50 pt-2 text-center text-md-start">
                Leave your contact information<br> and we will contact <br> you and answer all your questions in detail.
            </p>
            <form class="d-flex flex-column flex-md-row gap-3 w-100">
                <label for="name" class="sr-only">Your Name</label>
                <input type="text" id="name" class="white-input" autocomplete="off" placeholder="Your Name">
                
                <label for="email" class="sr-only">Your Email</label>
                <input type="email" id="email" class="white-input" autocomplete="off" placeholder="Your Email">
                
                <button class="px-5 py-2 text-white border-0" style="background-color: #249FDD;">
                    Send Request
                </button>
            </form>
        </div>
        <img src="./assets/images/contact-phone.png" 
            alt="Contact us by phone illustration" 
            loading="lazy" 
            class="contact-phone">
    </div>
    <div id="particles-contact"></div>
</section>